<a href="https://colab.research.google.com/github/SrinivasanNikhil/DataLiteracy/blob/master/In_Class_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Python Module

#### In-class Work

Write a python script to first declare 2 variables height and weight and initialize it with resonable values. Height should be in inches and weight should be in pounds. 

You will be using these 2 values to calculate a third variable BMI. 
BMI is calcualtes as (weight / (height)^2)*703

**BMI	            Weight Status**

Below 18.5  	  Underweight

18.5 – 24.9	    Normal or Healthy Weight

25.0 – 29.9 	  Overweight

30.0 and Above	Obese

Print out the value of the BMI and the above table.

In [ ]:
height = 75
weight = 183

bmi = (weight/(height ** 2)) * 703

formattedResponse = """
BMI Weight Status

Below 18.5 Underweight

18.5 – 24.9 Normal or Healthy Weight

25.0 – 29.9 Overweight

30.0 and Above Obese
"""

response = "BMI Weight Status \n Below 18.5 Underweight \n 18.5 – 24.9  Normal or Healthy Weight \n 25.0 – 29.9 Overweight \n 30.0 and Above Obese"

print()
print("The value of BMI is : ", bmi)
print()
print(response)

The value of BMI is :  22.87093333333333

BMI Weight Status
 Below 18.5 Underweight
 18.5 – 24.9  Normal or Healthy Weight
 25.0 – 29.9 Overweight
 30.0 and Above Obese

#### Please write a set of print statetments that will print out the following ticket

![Python Ticket Example](https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/PythonTicketEx.png)

In [ ]:
print("Your Organization")
print("WINTER LOTTERY RAFFLE")
print("Based on the December 2021 Ohio Evening Pick 3")
print("31 chances to win")
print("Tickets: $2.00 each")
print("Each time your number matches")
print("the December 2021 Ohio Evening Pick 3")
print("You win $100")

Your Organization
WINTER LOTTERY RAFFLE
Based on the December 2021 Ohio Evening Pick 3
31 chances to win
Tickets: $2.00 each
Each time your number matches
the December 2021 Ohio Evening Pick 3
You win $100

#### Please write a set of print statetments that will print out the following ticket.

In this case however use the input statement to take in the name of the organization, the price of the ticket and the value of winnings. Use the inputs to modify the ticket printed below.

![Python Ticket Example](https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/PythonTicketEx.png)

In [ ]:
organizationName = input("Please enter the name of the organization: ")
ticketPrice = input("Please enter the price of the ticket: ")
winnings = input("please enter the value of winnings: ")

print()a
print(organizationName)
print("WINTER LOTTERY RAFFLE")
print("Based on the December 2021 Ohio Evening Pick 3")
print("31 chances to win")
print("Tickets: $", ticketPrice, " each")
print("Each time your number matches")
print("the December 2021 Ohio Evening Pick 3")
print("You win $",winnings)

Please enter the name of the organization: aaaa
Please enter the price of the ticket: aaa
please enter the value of winnings: a

aaaa
WINTER LOTTERY RAFFLE
Based on the December 2021 Ohio Evening Pick 3
31 chances to win
Tickets: $ aaa  each
Each time your number matches
the December 2021 Ohio Evening Pick 3
You win $ a

### Please write a set of print statetments that will print out the following ticket.

In this case however use the input statement to take in the name of the organization, the price of the ticket and the value of winnings. Use the inputs to modify the ticket printed below.

Also create and use functions to print out parts of the ticket. 
1. Treat the first 4 lines of the ticket as 1 function
2. Treat the 5th line as 1 function
3. Treat the 6-8th lines as 1 function.

![Python Ticket Example](https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/PythonTicketEx.png)

In [ ]:
orgName = input("Please enter the name of the organization")
ticketPrice = input("Please enter the price of the ticket")
winnings = input("Please enter the value of winnings")

def ticketHeader():
  print("*****  ",orgName,"  *****")
  print("WINTER LOTTERY RAFFLE")
  print("Based on the December 2021 Ohio Evening Pick 3")
  print("31 chances to win")

def ticketBody():
  print("Tickets: $",ticketPrice," each")  

def ticketFooter():
  print("Each time your number matches")
  print("the December 2021 Ohio Evening Pick 3")
  print("You win $",winnings)


ticketHeader()
ticketBody()
ticketFooter()

Please enter the name of the organizationABI International
Please enter the price of the ticket20
Please enter the value of winnings1000
*****   ABI International   *****
WINTER LOTTERY RAFFLE
Based on the December 2021 Ohio Evening Pick 3
31 chances to win
Tickets: $ 20  each
Each time your number matches
the December 2021 Ohio Evening Pick 3
You win $ 1000

In [ ]:
#Moved the input taking to after the delaration of the functions
def ticketHeader(organization):
  print("*****  ",organization,"  *****")
  print("WINTER LOTTERY RAFFLE")
  print("Based on the December 2021 Ohio Evening Pick 3")
  print("31 chances to win")

def ticketBody(price):
  print("Tickets: $",price," each")  

def ticketFooter(winning):
  print("Each time your number matches")
  print("the December 2021 Ohio Evening Pick 3")
  print("You win $",winning)

orgName = input("Please enter the name of the organization")
ticketPrice = input("Please enter the price of the ticket")
winnings = input("Please enter the value of winnings")

ticketHeader(orgName)
ticketBody(ticketPrice)
ticketFooter(winnings)

Please enter the name of the organizationABH
Please enter the price of the ticket20
Please enter the value of winnings000
*****   ABH   *****
WINTER LOTTERY RAFFLE
Based on the December 2021 Ohio Evening Pick 3
31 chances to win
Tickets: $ 20  each
Each time your number matches
the December 2021 Ohio Evening Pick 3
You win $ 000

In [ ]:
#Moved the input taking to after the delaration of the functions
def ticketHeader(organization):
  print("*****  ",organization,"  *****")
  print("WINTER LOTTERY RAFFLE")
  print("Based on the December 2021 Ohio Evening Pick 3")
  print("31 chances to win")

def ticketBody(price):
  print("Tickets: $",price," each")  

def ticketFooter(winning):
  print("Each time your number matches")
  print("the December 2021 Ohio Evening Pick 3")
  print("You win $",winning)

def takeInputs():
  global orgName #global keyword delares that the variable scope is not limited to the function
  global ticketPrice
  global winnings
  orgName = input("Please enter the name of the organization : ")
  ticketPrice = input("Please enter the price of the ticket : ")
  winnings = input("Please enter the value of winnings : ")

takeInputs()
ticketHeader(orgName)
ticketBody(ticketPrice)
ticketFooter(winnings)

Please enter the name of the organization : Nikhil International
Please enter the price of the ticket : 50
Please enter the value of winnings : 5000
*****   Nikhil International   *****
WINTER LOTTERY RAFFLE
Based on the December 2021 Ohio Evening Pick 3
31 chances to win
Tickets: $ 50  each
Each time your number matches
the December 2021 Ohio Evening Pick 3
You win $ 5000

### Practice work (ticket machine)

In this example, you will be simulating the logical operation of a ticket machine.

A ticket machine issues tickets for a given price after an individual has input a certain amount of money into the ticket machine. 

If the money that the individual has put into the ticket machine is less than the price of the ticket, the machine informs the individual that not enough money has been put in. 

If sufficient money has been put in then the ticket machine issues a ticket and deducts the price of the ticket from the money put in and returns the change if any. 

Your job is to code this ticket machine based on the above description and the following instructions. 

Code the following:

1. Create the appropriate prompts and take and store 2 inputs from the user
        a. Price of the ticket
        b. Money to be put into the ticket machine
2. Evaluate if the money put into the ticket machine is greater than the price of the ticket
3. If the money put in is greater than the price of the ticket then print out the ticket i.e. Just a simple message saying ticket is printed 
        - Once a ticket is printed, the system shoudl also deduct the price of the ticket 
        from the money put in and return it. Print out a message indicating how much 
        money is being returned.
4. If the money put in is less than the price of the ticket, then print out a message indicating so and indicate how much more needs to be put in.

In [ ]:
print("***** Welcome to the Scantron Ticket Printing System *****")
print("***** Please follow the prompts below to get tickets *****")
print()
ticketPrice = int(input("***** Please enter the price you wish to set for tickets issued by this machine : "))
print()
userMoney = int(input("***** Please enter the amount of money you put into the machine : "))

if ( userMoney >= ticketPrice):
  print()
  print("***** Ticket *****")
  print("***** Ticket for movie *****")
  print("***** Price : $",ticketPrice," *****")
  print()
  userMoney = userMoney - ticketPrice
else:
  print("User has not provided enough money to purchase ticket. Please put more money in!!")  

if(userMoney > 0):
  print("Please take your change from the machine : ", userMoney, " dollars.")

***** Welcome to the Scantron Ticket Printing System *****
***** Please follow the prompts below to get tickets *****

***** Please enter the price you wish to set for tickets issued by this machine : 50

***** Please enter the amount of money you put into the machine : 50

***** Ticket *****
***** Ticket for movie *****
***** Price : $ 50  *****

# Lists and Tuples and Loops Practice Work

Write a script to prompt a user to provide the folowing inputs

1. Name
2. Major
3. GPA

Store the 3 provided values as a single list within a ***persons*** list.

Continue taking inputs from the user for the 3 attributes and store them in the ***persons*** list till the user has indicated they wish to stop. 

Once the user has indicated they wish to stop, print out all the inputs that the user has provided

In [ ]:
keepGoing = True
persons = []
while (keepGoing):
  name = input("Please provide a student name :")
  major = input("Please provide a student major :")
  gpa = input("Please provide a student gpa :")
  aPerson = [name,major,gpa]
  persons.append(aPerson)
  print(persons)
  print()
  cont = input("Does the user wish to continue y/n :")
  print()
  if(cont == "n"):
    keepGoing = False

print()
for aPerson in persons:
  print(f"Name : {aPerson[0]}")
  print(f"Major : {aPerson[1]}")
  print(f"GPA : {aPerson[2]}")
  print()

Please provide a student name :Nikhil
Please provide a student major :MIS
Please provide a student gpa :3.2

TypeError: ignored

# Practice using the panda's package

1. Import the following dataset
  https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TitanicSurvivors.csv

2. Identify the dimensions of the data set
  * the number of axes
  * the data types of the elements
  * the number of dimensions
  * the shape of the data frame
  * the size fo the data frame
  * describe all the columns of the data set

2. Select all female passengers under the age of 18 who did not survive. How many were there and what was their average age?

3. Select all male passengers over the age of 30 who had at least 1 sibling on board who survived. How many were there and what was their average age?

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv("https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TitanicSurvivors.csv")

print(data.head())
#Retrieving dataframe information

#Axes
print("The axes information :")
print(data.axes)
print()

#Data Types
print("The data types information :")
print(data.dtypes)
print()

#Dimensions
print("The dimensions information :")
print(data.ndim)
print()

#Shape
print("The Shape information :")
print(data.shape)
print()

#Size
print("The Size information :")
print(data.size)
print()

#Describe all columns
print("Describing all the columns :")
print(data.describe(include="all"))
print()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]
The axes information :
[RangeIndex(start=0, stop=891, step=1), Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')]

The data types information :
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

The dimensions information :
2

The Shape information :
(891, 12)

The Size information :
10692

Describing all the columns :
        PassengerId    Survived      Pclass  ...        Fare Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000   204       889
unique          NaN         NaN         NaN  ...         NaN   147         3
top             NaN         NaN         NaN  ...         NaN    G6         S
freq            NaN         NaN         NaN  ...         NaN     4       644
mean     446.000000    0.383838    2.308642  ...   32.204208   NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429   NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000   NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400   NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200   NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000   NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200   NaN       NaN

[11 rows x 12 columns]

# Pandas Groupby practice

1. Import the following dataset
  https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TitanicSurvivors.csv

2. What is the average age of male vs female passengers

3. How many male and female passengers were there on the titanic

4. How many passengers were in each individual ticket class?

In [2]:
import numpy as np
import pandas as pd
#1
data = pd.read_csv("https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TitanicSurvivors.csv")
#2
print(data[["Sex","Age"]].groupby("Sex").mean())
#3
print(data[["Sex","Age"]].groupby("Sex").count())
#4
print(data[["Pclass","PassengerId"]].groupby("Pclass").count())

              Age
Sex
female  27.915709
male    30.726645
        Age
Sex
female  261
male    453
        PassengerId
Pclass
1               216
2               184
3               491

5. What was the average fare of the passengers that embarked from the different locations. 

6. What was the average fare of passengers from the different passenger classes. 

7. How many passengers embarked from the different locations?

8. What was the minimum, maximum and average fare for passengers in the different classes that embarked from different locations.

In [3]:
#5
print(data[["Fare","Embarked"]].groupby("Embarked").mean())
#6
print(data[["Fare","Pclass"]].groupby("Pclass").mean())
#7
print(data[["Embarked","PassengerId"]].groupby("Embarked").count())
#8
print(data[["Pclass","Fare","Embarked"]].groupby(["Pclass","Embarked"]).agg([np.min,np.max,np.mean]))

               Fare
Embarked
C         59.954144
Q         13.276030
S         27.079812
             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550
          PassengerId
Embarked
C                 168
Q                  77
S                 644
                    Fare
                    amin      amax        mean
Pclass Embarked
1      C         26.5500  512.3292  104.718529
       Q         90.0000   90.0000   90.000000
       S          0.0000  263.0000   70.364862
2      C         12.0000   41.5792   25.358335
       Q         12.3500   12.3500   12.350000
       S          0.0000   73.5000   20.327439
3      C          4.0125   22.3583   11.214083
       Q          6.7500   29.1250   11.183393
       S          0.0000   69.5500   14.644083

In [4]:
#How many female passengers under the age of 18 did not survive and what was their average age?
rslt = data.loc[(data["Sex"] == "female") & (data["Age"] <= 18) & (data["Survived"] == 0)]

print(rslt[["PassengerId","Age"]].agg({
                                  "PassengerId":["count"],
                                 "Age":["mean"]
}))

#How many male passengers over the age of 30 had 1 sibling on board survived and what was their average age?
rslt = data.loc[(data["Sex"] == "male") & (data["Age"] >= 30) & (data["Survived"] == 1) & data["SibSp"] >= 1]
print(rslt[["PassengerId","Age"]].agg({
                                  "PassengerId":["count"],
                                 "Age":["mean"]
}))

       PassengerId        Age
count         22.0        NaN
mean           NaN  10.613636
       PassengerId        Age
count         11.0        NaN
mean           NaN  42.727273