<a href="https://colab.research.google.com/github/SrinivasanNikhil/DataLiteracy/blob/master/Python_Pandas_Text_DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Pandas

## Working with text data

The pandas pakage allows us to work with text data and perform a vareity of [operations](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#working-with-text-data) on them. 

Below you will find some examples of operations to perform on text data.

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
#pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option("display.max_rows", 100, "display.max_columns", 100)

data = pd.read_excel("https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TwitterSearch.xlsx")

print(data.head())

print(data.columns)

#Length of each tweet
print(data["text"].str.len())

#Average length of a tweet
print(data["text"].str.len().mean())

#Number of tweets
print(data["text"].count())

#Number of words in the tweet
data["wordcount"] = data["text"].str.split(" ").str.len()
print(data[["text","wordcount"]])

#Frequency of words used in a tweet
print(data["wordcount"].value_counts())

#Find tweets with purple

data["contains"] = data["text"].str.contains("purple")
print(data["contains"].value_counts())

In [ ]:
#Find tweets that contain both purple and iphone

#Find the number of tweets by individual accounts in the data set

#How many tweets were sent from Iphones

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
#pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option("display.max_rows", 100, "display.max_columns", 100)

data = pd.read_excel("https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TwitterSearch.xlsx")

#Find tweets that have a URL in them
#Approach 1

for ele in data["text"]:
  print(ele)
  startpos = ele.find("https://",0,len(ele))
  endpos = ele.find(" ",startpos,len(ele))
  print(ele[startpos:endpos])


#Approach 2

def urlext(string):
  startpos = string.find("https://",0,len(string))
  endpos = string.find(" ",startpos,len(string))
  return string[startpos:endpos]

res = data["text"].apply(urlext)
res.head()
res.tail()

# Pandas Datetime

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
#pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option("display.max_rows", 100, "display.max_columns", 100)

data = pd.read_excel("https://elasticbeanstalk-us-east-1-712866102994.s3.amazonaws.com/data/TwitterSearch.xlsx")

#Date time work https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html#pandas-datetimeindex
print(type(data["created_at"][0]))

#Convert str to date time
data["created_at"] = pd.to_datetime(data["created_at"])

#extract the day of the week and store it in another column
data["day"] = data["created_at"].dt.dayofweek
#extract the hour of the tweet and store it in another column
data["hour"] = data["created_at"].dt.hour

print(data[["day","text"]].groupby("day").count())
print(data[["hour","text"]].groupby("hour").count())

<class 'str'>
      text
day
3    12077
4     3023
      text
hour
0     1210
1     1155
2      658
15     837
16    1760
17    1513
18    1385
19    1538
20    1334
21    1342
22    1249
23    1119